{% extends "base.html" %}

{% block header %}{{ header }}{% endblock %}
{% load util %}
{% block content %}
  <h6>The update success</h6>
  <ul class="list-group">
    {% for key, value in data.items %}
    <li class="list-group-item border-0">
      <label class="small">{{ key }}:</label>
      {% if value|get_type == 'dict' %}
        <ul class="list-group">
        {% for k, v in value.items %}
          <li class="list-group-item">
            <span class="p-2 font-italic">{{ k }}:</span>
            <span>{{ v }}</span>
          </li>
        {% endfor %}
        </ul>
      {% elif value|get_type == 'list' %}
        <ul class="list-group">
          {% for v in value %}
          <li class="list-group-item">
            <span>{{ v }}</span>
          </li>
        {% endfor %}
        </ul>
      {% else %}
        <div>{{ value }}</div>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
{% endblock %}