{% extends "base.html" %}

{% block header %}Interviews List{% endblock %}

{% block content %}
  <ul class="list-group">
    {% for interview in interviews %}
    <li class="list-group-item rounded my-2">
      <div class="header">
        <div class="row">
          <div class="col text-center">
            <div class="text-black-50">
              {% if interview.logo_url %}
              <img title="company type" src="{{ interview.logo_url }}" alt="company logo" class="img-thumbnail w-75 border-0">
              {% else %}
              <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-aspect-ratio" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M0 3.5A1.5 1.5 0 0 1 1.5 2h13A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5v-9zM1.5 3a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"/>
                <path fill-rule="evenodd" d="M2 4.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1H3v2.5a.5.5 0 0 1-1 0v-3zm12 7a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1 0-1H13V8.5a.5.5 0 0 1 1 0v3z"/>
              </svg>
              {% endif %}
            </div>
            <span class="badge badge-secondary">{{ interview.company_type }}</span>
          </div>
          <div class="col-3">
            <span class="h4" title="company name">
              <a class="d-inline-block" data-toggle="collapse" href="#itemcontent{{interview.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                {{ interview.company_name }}
              </a>
            </span>
            <span class="small d-flex flex-row align-items-center justify-content-start">
              <a title="edit interview" href="/api/interviews/{{ interview.id }}/" class="link">edit</a>
              <form action="/api/interviews/{{ interview.id }}/" method="delete" class="d-inline-block">
                {% csrf_token %}
                <button title="delete interview" type="submit" value="Submit" class="btn btn-link py-0"><small>delete</small></button>
              </form>
            </span>
          </div>
          <div class="col" title="status">
            {% if interview.status == "Rejected" %}
            <small class="badge badge-danger">{{ interview.status }}</small>
            {% else %}
            <small class="badge badge-primary">{{ interview.status }}</small>
            {% endif %}
          </div>
          <div class="col-3 d-flex flex-row-reverse" title="location">
            {% if interview.location %}
              <span class="px-1">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z"/>
                </svg>
              </span>
              {{ interview.location }}
            {% endif %}
          </div>
          <div class="col">
            <div class=" badge badge-info" title="placement company">
              {{ interview.placement_company.agent_name }}
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
              </svg>
              {{ interview.placement_company.placement_company_name }}
            </div>
          </div>
          <div class="col" title="add time">
            <div class="float-right small">{{ interview.date }}</div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <small>{{ interview.company_info }}</small>
          </div>
        </div>
      </div>
      <div class="collapse" id="itemcontent{{interview.id}}">
        <div class="row">
          <div class="col">
            <span class="badge badge-secondary" title="position">{{ interview.position }}</span>
            <span class="badge badge-warning" title="contact person">
              <span>{{ interview.company_contact_person}}</span>
              {% if interview.company_contact_phone %}
              <span>{{ interview.company_contact_phone}}</span>
              {% endif %}
            </span>
          </div>
          <div class="col">
            <ul class="list-group list-group-flush d-block float-right">
              {% for item in interview.technology %}
              <li class="badge badge-success d-inline-block" title="Technology">{{ item }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col">
            <label class="small">Processes:</label>
            <ul class="list-group">
              {% for item in interview.processes %}
              <li class="list-group-item d-flex flex-row">
                <div class="actions d-flex flex-column">
                  <a title="edit" class="p-2" href="/api/interviews/{{interview.id}}/process/{{item.id}}/">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                  </a>
                  <form action="/api/process/{{ item.id }}/"  method="delete" class="d-inline">
                    {% csrf_token %}
                    <button title="delete" type="submit" value="Submit" class="btn btn-link p-2 m-0">
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                      </svg>
                    </button>
                  </form>
                </div>
                <div class="header small col-3">
                  <div>
                    {{ item.date }}
                  </div>
                  {% if item.start_time %}
                  <div>
                    At {{ item.start_time }} for {{ item.duration }}
                  </div>
                  {% endif %}
                  <div>
                    Meeting: {{ item.meeting_with }}
                  </div>
                </div>
                {% if item.meeting_content %}
                <div class="col">
                  {{ item.meeting_content }}
                </div>
                {% endif %}

              </li>
              {% endfor %}
              <li class="list-group-item">
                <a class="btn btn-outline-primary btn-sm py-1" href="/api/interviews/{{ interview.id }}/process/create/">
                  Add Meeting
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
{% endblock %}